@model IEnumerable<HaircutManager.Models.Reservation>
@{
    ViewData["Title"] = "List";
}
<p>
    <div style="text-align: center; margin-bottom: 25px">
        <a class="btn btn-primary" asp-controller="Reservations" asp-action="Create">Utwórz rezerwację</a>
    </div>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
             Godzina Rezerwacji
            </th>
            <th>
             Przewidywany czas Zakończenia
            </th>
            
            <th>
             Klient
            </th>
            @if (User.IsInRole("Admin") || User.IsInRole("Fryzjer"))
            {
            <th>
             E-Mail
            </th>
            <th>
             Numer telefonu
            </th>
            }
            <th>
             Usługa
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ReservationDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedEndTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientName)
            </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Fryzjer"))
                { 
            <td>
                @Html.DisplayFor(modelItem => item.ClientEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClientPhoneNumber)
            </td>
                }
            <td>
                @Html.DisplayFor(modelItem => item.Service.ServiceName)
            </td>
                @if (User.IsInRole("Admin") || User.IsInRole("Fryzjer"))
                {
            <td>
                <a asp-action="Edit" asp-route-id="@item.ReservationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ReservationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ReservationId">Delete</a>
            </td>
                }
        </tr>
}
    </tbody>
</table>

<div style="text-align: center; margin-bottom: 15px">
    <h4>W razie pomyłki w rezewacji proszę o kontakt telefoniczny</h4>
</div>

